.dropdown-menu {
  left: auto!important;
  right: 0;
  padding: 0.5rem 15px;
}

#myTopnav {
  background-image: linear-gradient(-90deg, #ff8000, #ffb366, #ff8000)!important;
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10%;
}
