.dropdown-menu {
  right: 0;
}

#myTopnav {
  background-image: linear-gradient(-90deg, green, purple, blue)!important;
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 15%;
}
