@import "variables/personal_variables";
@import "variables/bootstrap_variables";
@import "bootstrap";
@import "font-awesome";
@import "components/*";

body {
  background-color: #ffffcc;
  font-family: URW Gothic L, sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.container {
  padding: 30px;
}

button:hover {
  background-color: white;
  color: black;
}

/*
Test de css
background-image: linear-gradient(-90deg, #0000cc, #4d94ff, blue, #3399ff);
-webkit-animation:bgChange 3s 3s alternate infinite;
transition: all 3s ease;
}
background-image: linear-gradient(-90deg, purple, green, blue, cyan, red, pink, magenta, yellow, white)!important;

@-webkit-keyframes bgChange {
0% { background:#ccffff; }
50% { background:#b3ffff; }
100% { background: #99ffff; }


#carrousel {
  padding: 30px;
  display: flex;
  justify-content: center;
} */
